<div class="content">
  <div class="mat-display-1">
    Send Message
  </div>
  <mat-card class="mat-elevation-z4">
    <mat-card-content>
      <p>Recipent:</p>
      <mat-form-field appearance="fill" class="wide-field">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="selectedGroup">
          <mat-option *ngFor="let group of groups" [value]="group">
            {{group.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Message content:</p>
      <mat-form-field appearance="fill" class="wide-field">
        <mat-label>Message Text</mat-label>
        <textarea matInput placeholder="Information for group of people..."
                  [(ngModel)]="messageText">
        </textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" align="end" (click)="showSendDialog()">Send</button>
    </mat-card-actions>
  </mat-card>
</div>
