<!-- TODO - add to angular forms -->

<h1 mat-dialog-title>{{data.type}} Group</h1>
<mat-dialog-content class="mat-typography">
  <p>Enter group name:</p>
  <mat-form-field appearance="fill" class="wide-field">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="group.name">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]=null>Cancel</button>
  <button mat-button [mat-dialog-close]="group" cdkFocusInitial>{{data.type}}</button>
</mat-dialog-actions>
