<!-- TODO - add to angular forms -->

<div class="flex-row">
  <h1 mat-dialog-title>{{data.type}} Event</h1>
  <button mat-button [mat-dialog-close]=null>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <p>Enter event name:</p>
  <mat-form-field appearance="fill" class="wide-field">
    <mat-label>Name</mat-label>
    <input cdkFocusInitial matInput [(ngModel)]="event.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date </mat-label>
    <input matInput [(ngModel)]="event.dateTime">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="event.description">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <input matInput [(ngModel)]="event.status">
  </mat-form-field>
<!--  TODO add groups with the the chips view-->
  <mat-form-field appearance="fill">
    <mat-label>Group Ids</mat-label>
    <input matInput [(ngModel)]="event.participantGroupIds">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="event" cdkFocusInitial>{{data.type}}</button>
</mat-dialog-actions>
