<mat-toolbar color="primary" class="mat-elevation-z8">

  <ng-container *ngIf="userService.isLogged">
    <a mat-raised-button routerLink="home" class="home">
      <img src="assets/img/organizer2000_logo.png" alt="Organizer 2000" class="logo-img">
    </a>
    <a mat-button routerLink="people">People</a>
    <a mat-button routerLink="groups">Groups</a>
    <a mat-button routerLink="events">Events</a>
    <a mat-button routerLink="messages">Messages</a>
    <span class="spacer"></span>
    <a mat-button class="username">{{userService.username}}</a>
    <a mat-button (click)="logout()">Logout</a>
  </ng-container>

  <ng-container *ngIf="!userService.isLogged">
    <a mat-raised-button>
      <img src="assets/img/organizer2000_logo.png" alt="Organizer 2000" class="logo-img">
    </a>
  </ng-container>

</mat-toolbar>

<router-outlet *ngIf="userService.isLogged"></router-outlet>
<app-login *ngIf="!userService.isLogged"></app-login>
