<mat-toolbar color="primary" class="mat-elevation-z8">

  <ng-container *ngIf="userService.isLogged">
    <a mat-raised-button routerLink="home" class="home">
      <img src="assets/img/samanet_logo.png" alt="Samanet" class="logo-img">
    </a>
    <a mat-button routerLink="database">Database</a>
    <a mat-button routerLink="send">Send</a>
    <span class="spacer"></span>
    <a mat-button class="username">{{userService.username}}</a>
    <a mat-button (click)="logout()">Logout</a>
  </ng-container>

  <ng-container *ngIf="!userService.isLogged">
    <a mat-raised-button>
      <img src="assets/img/samanet_logo.png" alt="Samanet" class="logo-img">
    </a>
  </ng-container>

</mat-toolbar>

<router-outlet *ngIf="userService.isLogged"></router-outlet>
<app-login *ngIf="!userService.isLogged"></app-login>
