<div class="content">
  <div class="mat-display-3">Samanet</div>
  <div class="mat-display-1">Messaging software</div>
  <p>
    Phasellus rutrum varius gravida. Nullam augue massa, sollicitudin at neque quis, hendrerit pharetra neque. Proin eu turpis convallis leo congue placerat. Fusce vel semper eros, tempor sagittis augue. Vestibulum sodales volutpat turpis, et rhoncus nisl interdum vitae. Ut ut enim sit amet mauris tincidunt venenatis. Aenean eget fringilla dolor. Etiam ullamcorper turpis eget accumsan hendrerit. Nullam id tempus sapien. Duis ante purus, ultricies at lobortis eu, mattis non lectus.
  </p>
</div>
